<div id="barcodeInfo" data-role="view" data-title="ШК Инфо" data-show="barcodeInfo.show">
    <header data-role="header">
        <div data-role="navbar" class="header-text"> <span>ШК Инфо</span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a> <a data-role="backbutton" data-align="right">Назад</a> </div> 
            <input id="search" style="width:80%; height: 40px; margin: 4px 3% 4px 3%; padding-left:6px; padding-right:6px;font-size:6vmin"
            , type="text" value="" placeholder="Сканируй ШК" onChange="barcodeInfo.search"  autocorrect="off"/>
        <a class="button" data-role="button" data-icon="search" data-click="barcodeInfo.search"></a>
    </header>
    <span>География</span>
    <ul id="geo_list" data-role="listview" data-source="barcodeInfo.geo_datasource" data-template="tmp_geo" data-fixed-headers="true" data-header-template="tmp_geo_header"></ul>


    <ul data-role="actionsheet" id="userActions" data-cancel="Отмена"> </ul>
</div>

<script id="tmp_geo_header" type="text/x-kendo-template">
    #: value #
</script>


<script id="tmp_geo" type="text/x-kendo-template">
    <p><span>#:item_desc#. #:sn#</span></p>
    <p><span style="font-size:60%">Колво:</span> #:qty#  #:uom#. <span style="font-size:60%">Резерв:</span><span> #:qty_res#</span></p>
    
    <p><span style="font-size:70%;float:left">#:article#</span> <p><span style="font-size:70%;float:right">#:sn_blk#</span></p></p>
</script>